<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-corvus18/blob/main/Semana_2_Actividad_1_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **MODULO 4**

In [21]:
#Leer Archivos
file1 = open('sample_data/california_housing_test.csv')

file_read = file1.readlines()

print(file_read[0])
print(file_read[1])
print(file_read[2])
print(file_read[3])

"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"

-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000

-118.300000,34.260000,43.000000,1510.000000,310.000000,809.000000,277.000000,3.599000,176500.000000

-117.810000,33.780000,27.000000,3589.000000,507.000000,1484.000000,495.000000,5.793400,270500.000000

In [22]:
#Leer solo una parte
file_read_2 = file1.readlines(20)

print(file_read_2)

[]

In [34]:
#Escribir Archivos
with open('miarchivo.csv','w') as file2:
 file2.write("Linea1\n")
 file2.write("Linea2\n")
 file2.write("Linea3\n")
 file2.write("Linea4\n")


with open('miarchivo.csv','r') as file3:
 file_read3 = file3.read()
 print(file_read3)

Linea1
Linea2
Linea3
Linea4

In [48]:
#Usando Pandas
import pandas as pd
db = pd.read_csv('sample_data/california_housing_test.csv')
db.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [49]:
#Seleccionando solo ciertos campos
db2=db[['housing_median_age','total_rooms']]
db2.tail() #Ultimos renglones

      housing_median_age  total_rooms
2995                23.0       1450.0
2996                27.0       5257.0
2997                10.0        956.0
2998                40.0         96.0
2999                42.0       1765.0

In [62]:
#Accediendo a Datos
valor = db2['housing_median_age']
valor[2999]

42.0

In [68]:
#Aplicando Filtros
arg = db2['total_rooms'] >10000
db3 = db2[arg]
db3

      housing_median_age  total_rooms
33                   5.0      16181.0
292                  6.0      24121.0
321                 17.0      20354.0
405                  6.0      12779.0
555                 20.0      10722.0
650                  5.0      11976.0
899                 20.0      10212.0
900                  4.0      18123.0
947                  9.0      11654.0
976                 14.0      11635.0
978                  5.0      27870.0
1083                20.0      14291.0
1146                 4.0      23915.0
1283                 4.0      15025.0
1352                19.0      12128.0
1386                 8.0      10110.0
1441                15.0      10265.0
1554                17.0      12689.0
1563                21.0      18132.0
1594                17.0      10950.0
1597                 4.0      21988.0
1621                12.0      12396.0
1703                25.0      10665.0
1795                 5.0      12045.0
1976                 6.0      16590.0
2014                 4.0      16289.0
2209                 5.0      14684.0
2225                17.0      10214.0
2311                19.0      12467.0
2326                 4.0      11021.0
2340                 6.0      10395.0
2350                26.0      10111.0
2417                 3.0      12806.0
2429                 2.0      30450.0
2452                 2.0      17470.0
2458                 9.0      11251.0
2579                15.0      10282.0
2616                17.0      13180.0
2652                46.0      10088.0
2936                 3.0      13802.0

In [64]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [69]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool